extends layout

block layout-content
  h1.Banner Select the type of shirt you prefer
  div.View.CasualView
    div.NavButtons
      a(href="/casual")
        div.NavButton
          span Casual Shirt

  div.View.FormalView
    div.NavButtons
      a(href="/formal")
        div.NavButton
          span Formal Shirt
