extends layout

block layout-content
  div.View.UserView
    h1.Banner SHIRTSTORE
    div.Message
      div.Title
        h3 Let's find the perfect shirt for you!
        h1 Elevate your   
        h1 everyday style
      div.Details Get a shirt that suits your needs
    div.NavButtons
      a(href="/style")
        div.NavButton Select Shirt Style
